.contactDiv{
    font-size: 9px;
    padding: 3px 4px;
    border-radius: 2px;
}
.jobDivElm{
    font-size: 8px;
    margin-top: 3px;
    padding-bottom: 10px;
}
.kompetenzenLi, .spracheLi, .interessenLi, .stärkenLi{
    font-size: 8px;
    margin-left: 6px;
    list-style: none;
}
.kompetenzenLi::before, .spracheLi::before, .interessenLi::before, .stärkenLi::before{
    content: "\2022";
    color: #fff; 
    font-size: 1.5em;
    margin-right: 0.5em;
}
.spanElm{
    font-size: 12px;
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 5px;
}
.bildungsDatum, .bildungsOrt, .erfahrungsOrt{
    font-size: 11px;
    margin-top: 13px;

}
.bildungsOrt, .erfahrungsOrt{
    font-weight: 500;
}
.bildungsAbschluss, .erfahrungsJob{
    font-size: 10px;
}
.überMichSpan, .berufsErfahrungSpan{
    font-size: 13px;
    font-weight: bold;
    border-bottom: 2px solid #000;
}
.überMichSpan2, .berufsErfahrungSpan2{
    font-size: 13px;
    font-weight: bold;
}
.pElm{
    font-size: 10px;
    margin-top: 5px;
    color: gray;
    opacity: 0.8;
}
.überMichPElm{
    margin-top: 10px;
}
.bildungRow{
    margin-top: 10px;
}