.container{
    background-color: #eff2f9;
    height: 90%;
}
.bild{
    height: 85%;
}
.pdfText{
    background-color: #9fa6bb;
    color: #fff;
    padding: 1px 4px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
}
.erstellBtn{
    transform: translateY(360%);
    transition: all 0.1s linear;
    background-color: #3a63a5;
    transition: all 0.5ms;
}
.erstellBtn:hover{
    background-color: #325690;
}
@media only screen and (max-width : 410px){
    .container{
        height: 74vh;
    }
    .bild{
        height: 65vh;
    }
}